@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700);
@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700,300italic);
/* Open Sans font */
/* Mixins */
/* General Styles */
*:focus, *:active, *:visited {
  outline: 0; }

::-moz-focus-inner {
  border: 0;
  outline: 0; }

.clearfix {
  display: block; }
  .clearfix::after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0; }
  .clearfix > * {
    float: left; }

ul, p, dl, hr, h1, h2, h3, h4, h5, h6, pre, table, address, fieldset, blockquote {
  margin: 0 0 20px; }

.center {
  text-align: center; }

html, body {
  height: 100%;
  width: 100%; }

body {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  line-height: 1.7em;
  background: #dcdbd9;
  color: #424242;
  position: relative; }

ul {
  list-style: none;
  margin: 0;
  padding: 0; }

h1 {
  color: #2f2f2f;
  font-size: 2em;
  font-weight: normal; }

h2 {
  color: #2f2f2f;
  font-size: 1.8em;
  font-weight: normal; }

h3 {
  color: #2f2f2f;
  font-size: 1.6em;
  font-weight: normal; }

h4 {
  color: #2f2f2f;
  font-size: 1.4em;
  font-weight: normal; }

h5 {
  color: #2f2f2f;
  font-size: 1.2em;
  font-weight: normal;
  line-height: 18px; }

h6 {
  color: #2f2f2f;
  font-size: 1em;
  font-weight: normal; }

strong {
  font-weight: 700; }

a {
  text-decoration: none; }

.wrapper {
  width: 1000px;
  position: relative;
  margin: 0 auto; }

.button {
  display: inline-block;
  background: #82b33e;
  color: #fff;
  font-size: 16px;
  padding: 7px 15px;
  border-radius: 3px;
  text-decoration: none !important;
  font-weight: 200;
  cursor: pointer; }
  .button:hover {
    background: #89bc42; }
  .button.gray {
    background: #b3b3b3; }
    .button.gray:hover {
      background: #c0c0c0; }

/* Content */
#main_wrapper {
  padding: 10px 20px 20px;
  position: relative;
  max-width: 960px; }
  #main_wrapper > h3 {
    font-size: 15px;
    font-weight: normal;
    color: #575757;
    margin: 30px 0 40px; }
    #main_wrapper > h3 strong {
      font-weight: 600;
      font-size: 16px;
      color: #2f2f2f; }
  #main_wrapper .main_image_wrapper {
    position: relative;
    margin-top: 10px;
    padding-top: 15px !important; }
    #main_wrapper .main_image_wrapper > h3 {
      font-size: 16px;
      margin-bottom: 10px; }
  #main_wrapper .main_image {
    position: relative;
    height: 300px; }
    #main_wrapper .main_image h3, #main_wrapper .main_image h2 {
      font-family: 'Open Sans Condensed', sans-serif;
      color: #fff;
      position: absolute;
      left: 30px;
      top: 20px; }
    #main_wrapper .main_image h3 {
      font-weight: 300;
      font-size: 26px; }
    #main_wrapper .main_image h2 {
      font-family: 'Open Sans', sans-serif;
      font-weight: 300;
      font-size: 34px;
      top: 72px;
      left: 21px;
      text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.5); }
    #main_wrapper .main_image .como_banner {
      background: url(../images/como_banner.png) no-repeat center;
      width: 155px;
      height: 45px;
      position: absolute;
      right: 20px;
      bottom: 20px;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -ms-background-size: cover;
      background-size: cover; }
    #main_wrapper .main_image .preview_ribbon {
      background: url(../images/preview_ribbon.png) no-repeat center;
      width: 97px;
      height: 97px;
      position: absolute;
      right: -19px;
      top: -19px;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -ms-background-size: cover;
      background-size: cover; }
    #main_wrapper .main_image .qr_code_wrapper {
      position: absolute;
      left: 35px;
      bottom: 54px;
      width: 105px;
      height: 105px;
      background: no-repeat center;
      -webkit-background-size: 125%;
      -moz-background-size: 125%;
      -ms-background-size: 125%;
      background-size: 125%;
      /*position: absolute;
            left: 30px;
            bottom: 25px;
            background: #fff;
            border-radius: 3px;
            padding: 10px 10px 5px;
            box-shadow: 0 0 2px rgba(0,0,0,0.3);

            .qr_code {
                width: 110px;
                height: 110px;
                background: no-repeat center;
                @include bg-size(125%);
            }

            p {
                margin-bottom: 0;
                font-size: 10px;
                text-align: center;
            }

            .stores {
                text-align: center;
                height: 18px;

                > span {
                    width: 18px;
                    height: 18px;
                    background: url(../images/stores.png) no-repeat center center;
                    margin: 0 1px;
                    display: inline-block;
                    @include bg-size(290%);

                    &.googleplay {
                        background-position: 2px center;
                    }

                    &.amazon {
                        background-position: -36px center;
                    }
                }
            }*/ }
    #main_wrapper .main_image .main_features {
      position: absolute;
      left: 180px;
      bottom: 20px;
      height: 155px;
      overflow: hidden;
      font-family: 'Open Sans Condensed', 'sans-serif'; }
      #main_wrapper .main_image .main_features h4 {
        color: #fff;
        font-weight: 300;
        font-size: 18px; }
      #main_wrapper .main_image .main_features ul {
        color: #fff;
        font-weight: 700;
        font-size: 18px; }
        #main_wrapper .main_image .main_features ul li {
          margin-bottom: 0px; }
    #main_wrapper .main_image .image {
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      background: no-repeat center center;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -ms-background-size: cover;
      background-size: cover; }
  #main_wrapper .box {
    background: #fff;
    border-radius: 3px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    margin-top: 20px;
    padding: 15px 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box; }
    #main_wrapper .box.main {
      padding: 15px 0; }
      #main_wrapper .box.main h4 > span:hover {
        text-decoration: none !important;
        cursor: text; }
      #main_wrapper .box.main > div {
        padding: 0 20px; }
    #main_wrapper .box .icon {
      width: 50px;
      height: 42px;
      background: no-repeat 5px center;
      margin-right: 10px; }
      #main_wrapper .box .icon.ribbon {
        background-image: url(../images/ribbon.png); }
      #main_wrapper .box .icon.certificate {
        background-image: url(../images/certificate.png); }
      #main_wrapper .box .icon.qr {
        background-image: url(../images/qr.png); }
    #main_wrapper .box h4 {
      margin-bottom: 5px;
      font-size: 16px;
      line-height: 18px;
      font-weight: 600; }
      #main_wrapper .box h4 > span {
        cursor: pointer; }
        #main_wrapper .box h4 > span:hover {
          text-decoration: underline; }
        #main_wrapper .box h4 > span.tooltip {
          cursor: default; }
    #main_wrapper .box p {
      margin-bottom: 0;
      font-size: 14px; }
    #main_wrapper .box .tooltip {
      position: relative;
      display: inline-block;
      margin: 3px 0 0 10px; }
      #main_wrapper .box .tooltip .mark {
        width: 14px;
        height: 14px;
        background: url(../images/hint_tip.png) no-repeat center center;
        display: block; }
      #main_wrapper .box .tooltip .text {
        position: absolute;
        left: 25px;
        top: -6px;
        background: #000;
        color: #fff;
        border-radius: 3px;
        font-size: 14px;
        font-weight: 400;
        width: 220px;
        padding: 7px 10px;
        display: none; }
        #main_wrapper .box .tooltip .text::after {
          content: "";
          position: absolute;
          right: 100%;
          top: 7px;
          border: 6px solid transparent;
          border-right-color: #000; }
      #main_wrapper .box .tooltip:hover .text {
        display: block;
        z-index: 800; }
    #main_wrapper .box .actions {
      float: right;
      padding-top: 5px;
      position: relative; }
      #main_wrapper .box .actions .overlay {
        position: absolute;
        right: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 5; }
      #main_wrapper .box .actions span {
        display: block;
        width: 30px;
        height: 30px;
        background: no-repeat center center;
        margin-left: 15px;
        opacity: 0.7;
        position: relative;
        cursor: pointer; }
        #main_wrapper .box .actions span.disabled {
          opacity: 0.3 !important; }
          #main_wrapper .box .actions span.disabled > span {
            display: none !important; }
        #main_wrapper .box .actions span > span {
          position: absolute;
          left: -62px;
          top: -45px;
          background: #000;
          color: #fff;
          font-size: 14px;
          font-weight: 400;
          padding: 5px 10px;
          border-radius: 3px;
          width: 100px;
          text-align: center;
          display: none; }
          #main_wrapper .box .actions span > span::after {
            content: "";
            position: absolute;
            left: 50%;
            top: 100%;
            border: 9px solid transparent;
            border-top-color: #000;
            border-top-width: 6px;
            margin-left: -4px; }
        #main_wrapper .box .actions span.edit {
          background-image: url(../images/edit.png); }
        #main_wrapper .box .actions span.download {
          background-image: url(../images/download.png); }
        #main_wrapper .box .actions span.preview {
          background-image: url(../images/preview.png); }
        #main_wrapper .box .actions span.email {
          background-image: url(../images/email.png); }
        #main_wrapper .box .actions span.mail {
          background-image: url(../images/mail.png);
          background-position: 0px 2px; }
        #main_wrapper .box .actions span:hover {
          opacity: 1; }
          #main_wrapper .box .actions span:hover > span {
            display: block; }
  #main_wrapper .edit_mode {
    border-radius: 3px 3px 0 0; }
    #main_wrapper .edit_mode .actions {
      opacity: 0.2; }
    #main_wrapper .edit_mode.main {
      padding-bottom: 0; }
      #main_wrapper .edit_mode.main .main_image_wrapper {
        background: #f2f2f2; }
    #main_wrapper .edit_mode .change_image_nav {
      position: absolute;
      bottom: 10px;
      text-align: center;
      width: 100%;
      left: 0; }
      #main_wrapper .edit_mode .change_image_nav > span {
        width: 15px;
        height: 15px;
        display: inline-block;
        margin: 0 3px;
        background: #fff;
        cursor: pointer;
        border-radius: 50em;
        opacity: 0.6;
        box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.3);
        position: relative; }
        #main_wrapper .edit_mode .change_image_nav > span.active::after {
          content: '';
          width: 9px;
          height: 9px;
          background: #888;
          position: absolute;
          left: 3px;
          top: 3px;
          border-radius: 50em; }
    #main_wrapper .edit_mode .change_image {
      text-align: center;
      padding-top: 15px; }
      #main_wrapper .edit_mode .change_image > * {
        display: inline-block; }
      #main_wrapper .edit_mode .change_image p {
        margin: 0;
        padding: 0 60px;
        position: relative; }
      #main_wrapper .edit_mode .change_image span {
        cursor: pointer;
        font-size: 44px;
        position: absolute;
        top: 0;
        opacity: 0.7;
        font-family: 'Open Sans Condensed', 'sans-serif'; }
        #main_wrapper .edit_mode .change_image span.next {
          right: 0; }
        #main_wrapper .edit_mode .change_image span.prev {
          left: 0; }
        #main_wrapper .edit_mode .change_image span:hover {
          opacity: 1; }
  #main_wrapper .app_details_editor {
    position: relative;
    padding: 20px 30px;
    background: #f2f2f2;
    color: #8a8a8a;
    border-radius: 0 0 3px 3px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2); }
    #main_wrapper .app_details_editor .form label {
      width: 120px;
      padding-top: 3px; }
    #main_wrapper .app_details_editor .form input {
      border: 1px solid #b8b8b8;
      border-radius: 2px;
      padding: 7px 10px;
      background: #fff;
      width: 220px; }
      #main_wrapper .app_details_editor .form input.small {
        width: 100px;
        margin-right: 10px; }
    #main_wrapper .app_details_editor .form .buttons_wrapper {
      position: absolute;
      left: 400px;
      bottom: 19px; }

/* First time overlay */
.first_time .main_image_wrapper, .first_time .actions .mail {
  position: relative;
  z-index: 10; }

.first_time_overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.75); }
  .first_time_overlay .overlay_content {
    left: 50%;
    margin-left: -45px;
    position: absolute;
    top: 70px; }
    .first_time_overlay .overlay_content h2 {
      margin-right: 20px; }

/* Popups */
.blur {
  -webkit-filter: blur(0.4em);
  -webkit-transform: translate3d(0, 0, 0); }

.dark {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 990;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.9); }

.popup_wrapper {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 991;
  width: 100%;
  height: 100%;
  opacity: 0;
  /*@include transition(opacity 0.4s);*/ }
  .popup_wrapper.reveal {
    opacity: 1; }
  .popup_wrapper > .closeLB {
    color: #fff;
    position: fixed;
    right: 25px;
    top: 20px;
    cursor: pointer;
    opacity: 0.85;
    font-size: 32px;
    font-weight: normal; }
    .popup_wrapper > .closeLB:hover {
      opacity: 1; }
  .popup_wrapper .popup_content {
    position: absolute;
    z-index: 992;
    left: 50%;
    top: 50%;
    background: #f1f1f1;
    width: 600px;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3); }
    .popup_wrapper .popup_content .clearfix > * {
      float: left; }
    .popup_wrapper .popup_content > .closeLB {
      position: absolute;
      top: 0;
      right: 0;
      padding: 10px 15px;
      z-index: 910;
      color: #999;
      border-left: 1px solid #d7d7d7;
      cursor: pointer; }
      .popup_wrapper .popup_content > .closeLB:hover {
        color: #000;
        background: #f1f1f1;
        border-radius: 0 5px 0 0;
        text-decoration: none;
        text-shadow: 0 0 8px rgba(255, 255, 255, 0.8); }
    .popup_wrapper .popup_content h3 {
      background: #fff;
      margin: 0;
      padding: 10px 15px;
      font-size: 20px;
      border-bottom: 1px solid #d7d7d7;
      border-radius: 5px 5px 0 0;
      text-align: left; }

/* Certificate Preview popup */
.certificate_popup {
  text-align: center;
  top: 40px !important;
  margin-top: 0;
  margin-bottom: 40px; }
  .certificate_popup p {
    margin: 10px 0; }
  .certificate_popup .certificate_wrapper {
    position: relative; }
  .certificate_popup h2 {
    position: absolute;
    top: 170px;
    left: 0;
    width: 100%;
    padding: 0 20px;
    color: #09b9e4;
    font-size: 36px;
    font-weight: 600;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box; }
  .certificate_popup .qr_code_wrapper {
    position: absolute;
    left: 50%;
    margin-left: -40px;
    top: 360px;
    width: 80px;
    height: 80px;
    background: no-repeat center;
    -webkit-background-size: 125%;
    -moz-background-size: 125%;
    -ms-background-size: 125%;
    background-size: 125%; }
  .certificate_popup .image {
    width: 620px;
    height: 800px;
    background: url(../images/generic_certificate.jpg) no-repeat center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    background-size: cover;
    margin: 0 auto 20px; }

/* Sticker Preview */
.sticker_popup {
  text-align: center;
  top: 40px !important;
  margin-top: 0;
  margin-bottom: 40px; }
  .sticker_popup section > p {
    margin: 10px 0; }
  .sticker_popup .sticker_wrapper {
    position: relative;
    text-align: center;
    margin: 0 20px 20px; }
    .sticker_popup .sticker_wrapper .image {
      width: 500px;
      height: 614px;
      background: url(../images/generic_sticker.png) no-repeat center;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -ms-background-size: cover;
      background-size: cover;
      margin: 0 auto; }
    .sticker_popup .sticker_wrapper .qr_code {
      position: absolute;
      top: 350px;
      left: 50%;
      margin-left: -69px;
      width: 140px;
      height: 140px;
      background: no-repeat center;
      -webkit-background-size: 125%;
      -moz-background-size: 125%;
      -ms-background-size: 125%;
      background-size: 125%; }
    .sticker_popup .sticker_wrapper h2 {
      position: absolute;
      top: 198px;
      left: 0;
      width: 100%;
      padding: 0 20px;
      color: #fff;
      font-size: 28px;
      font-weight: 300;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      -ms-box-sizing: border-box;
      box-sizing: border-box; }

/* Send email popup */
.send_email_popup {
  text-align: center;
  margin-top: -220px; }
  .send_email_popup p {
    margin: 10px 0; }
  .send_email_popup .form {
    padding-bottom: 20px; }
    .send_email_popup .form .form_row {
      margin-bottom: 10px; }
      .send_email_popup .form .form_row:last-child {
        margin-bottom: 0; }
    .send_email_popup .form label {
      width: 120px;
      padding-top: 3px; }
    .send_email_popup .form input {
      border: 1px solid #b8b8b8;
      border-radius: 2px;
      padding: 7px 10px;
      background: #fff;
      width: 220px; }
  .send_email_popup .buttons_wrapper {
    background: #fff;
    border-radius: 0 0 5px 5px;
    padding: 10px 0;
    border-top: 1px solid #d7d7d7; }
    .send_email_popup .buttons_wrapper .button {
      margin: 0 5px; }

.send_mail_popup {
  margin-top: 0;
  top: 40px !important; }
  .send_mail_popup p {
    margin: 10px 0; }
  .send_mail_popup .form {
    padding: 20px; }
    .send_mail_popup .form .form_row {
      margin-bottom: 10px; }
      .send_mail_popup .form .form_row:last-child {
        margin-bottom: 0; }
    .send_mail_popup .form label {
      width: 120px;
      padding-top: 3px;
      color: #8a8a8a; }
    .send_mail_popup .form input {
      border: 1px solid #b8b8b8;
      border-radius: 2px;
      padding: 7px 10px;
      background: #fff;
      width: 240px; }
      .send_mail_popup .form input + span {
        margin-left: 125px;
        font-size: 12px;
        color: #8a8a8a; }
  .send_mail_popup .buttons_wrapper {
    background: #fff;
    border-radius: 0 0 5px 5px;
    padding: 10px 0;
    border-top: 1px solid #d7d7d7;
    text-align: center; }
    .send_mail_popup .buttons_wrapper .button {
      margin: 0 5px; }

.thankyou_popup {
  margin-top: -140px; }
  .thankyou_popup .center {
    padding-bottom: 30px; }
  .thankyou_popup h1 {
    margin: 30px 0 10px;
    line-height: 36px;
    font-size: 28px; }
  .thankyou_popup p {
    font-size: 16px;
    color: #999;
    line-height: 22px;
    margin-bottom: 0; }

.not_premium_popup {
  margin-top: -140px; }
  .not_premium_popup .center {
    padding-bottom: 30px; }
  .not_premium_popup h1 {
    margin: 30px 0 20px;
    line-height: 36px;
    font-size: 28px; }

/*# sourceMappingURL=main.css.map */