/* Open Sans font */

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700);
@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700,300italic);

$open-sans-font: 'Open Sans';
$open-sans-condensed-font: 'Open Sans Condensed';

/* Mixins */

@mixin box-sizing($sizing) {
  -webkit-box-sizing: $sizing;
     -moz-box-sizing: $sizing;
      -ms-box-sizing: $sizing;
          box-sizing: $sizing;
}

@mixin bg-size($sizing) {
  -webkit-background-size: $sizing;
     -moz-background-size: $sizing;
      -ms-background-size: $sizing;
          background-size: $sizing;
}

/* General Styles */

*:focus, *:active, *:visited {
  outline: 0;
}

::-moz-focus-inner {
  border: 0;
  outline: 0;
}

.clearfix {
	display: block;

	&::after {
		content: ".";
		display: block;
		clear: both;
		visibility: hidden;
		line-height: 0;
		height: 0;
	}

	> * {
		float: left;
	}
}

ul,p,dl,hr,h1,h2,h3,h4,h5,h6,pre,table,address,fieldset, blockquote {
	margin: 0 0 20px;
}

.center {
	text-align: center;
}

html,
body {
	height: 100%;
	width: 100%;
}

body {
	padding: 0;
	margin: 0;
	font-family: $open-sans-font, sans-serif;
	font-size: 14px;
	line-height: 1.7em;
	background: #dcdbd9;
	color: #424242;
	position: relative;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

h1 {
	color: #2f2f2f;
	font-size: 2em;
	font-weight: normal;
}

h2 {
	color: #2f2f2f;
	font-size: 1.8em;
	font-weight: normal;
}

h3 {
	color: #2f2f2f;
	font-size: 1.6em;
	font-weight: normal;
}

h4 {
	color: #2f2f2f;
	font-size: 1.4em;
	font-weight: normal;
}

h5 {
	color: #2f2f2f;
	font-size: 1.2em;
	font-weight: normal;
	line-height: 18px;
}

h6 {
	color: #2f2f2f;
	font-size: 1em;
	font-weight: normal;
}

strong {
	font-weight: 700;
}

a {
	text-decoration: none;
}

.wrapper {
	width: 1000px;
	position: relative;
	margin: 0 auto;
}

.button {
	display: inline-block;
	background: #82b33e;
	color: #fff;
	font-size: 16px;
	padding: 7px 15px;
	border-radius: 3px;
	text-decoration: none !important;
	font-weight: 200;
	cursor: pointer;

	&:hover {
		background: #89bc42;
	}

	&.gray {
		background: #b3b3b3;

		&:hover {
			background: #c0c0c0;
		}
	}
}

/* Content */

#main_wrapper {
	padding: 10px 20px 20px;
	position: relative;
	max-width: 960px;
	margin: 0 auto;

	> h3 {
		font-size: 15px;
		font-weight: normal;
		color: #575757;
		margin: 30px 0 40px;

		strong {
			font-weight: 600;
			font-size: 16px;
			color: #2f2f2f;
		}
	}

	.main_image_wrapper {
		position: relative;
		margin-top: 10px;
		padding-top: 15px !important;

		> h3 {
			font-size: 16px;
			margin-bottom: 10px;
		}
	}

	.main_image {
		position: relative;
		height: 300px;

		h3, h2 {
			font-family: $open-sans-condensed-font, sans-serif;
			color: #fff;
			position: absolute;
			left: 30px;
			top: 20px;
		}

		h3 {
			font-weight: 300;
			font-size: 26px;
		}

		h2 {
			font-weight: 700;
			font-size: 34px;
			top: 60px;
		}

		.como_banner {
			background: url(../images/como_banner.png) no-repeat center;
			width: 155px;
			height: 45px;
			position: absolute;
			right: 20px;
			bottom: 20px;
			@include bg-size(cover);
		}

		.preview_ribbon {
			background: url(../images/preview_ribbon.png) no-repeat center;
			width: 97px;
			height: 97px;
			position: absolute;
			right: -19px;
			top: -19px;
			@include bg-size(cover);
		}

		.qr_code_wrapper {
			position: absolute;
			left: 30px;
			bottom: 25px;
			background: #fff;
			border-radius: 3px;
			padding: 10px 10px 5px;
			box-shadow: 0 0 2px rgba(0,0,0,0.3);

			.qr_code {
				width: 110px;
				height: 110px;
				background: no-repeat center;
				@include bg-size(125%);
			}

			p {
				margin-bottom: 0;
				font-size: 10px;
				text-align: center;
			}

			.stores {
				text-align: center;
				height: 18px;

				> span {
					width: 18px;
					height: 18px;
					background: url(../images/stores.png) no-repeat center center;
					margin: 0 1px;
					display: inline-block;
					@include bg-size(290%);

					&.googleplay {
						background-position: 2px center;
					}

					&.amazon {
						background-position: -36px center;
					}
				}
			}
		}

		.main_features {
			position: absolute;
			left: 180px;
			bottom: 20px;
			height: 155px;
			overflow: hidden;
			font-family: $open-sans-condensed-font, 'sans-serif';

			h4 {
				color: #fff;
				font-weight: 300;
				font-size: 18px;
			}

			ul {
				color: #fff;
				font-weight: 700;
				font-size: 18px;

				li {
					margin-bottom: 0px;
				}
			}
		}

		.image {
			position: absolute;
			width: 100%;
			height: 100%;
			left: 0;
			top: 0;
			background: no-repeat center center;
			@include bg-size(cover);
		}
	}

	.box {
		background: #fff;
		border-radius: 3px;
		box-shadow: 0 1px 2px rgba(0,0,0,0.2);
		margin-top: 20px;
		padding: 15px 20px;
		@include box-sizing(border-box);

		&.main {
			padding: 15px 0;

			h4 > span:hover {
				text-decoration: none !important;
				cursor: text;
			}

			> div {
				padding: 0 20px;
			}
		}

		.icon {
			width: 50px;
			height: 42px;
			background: no-repeat 5px center;
			margin-right: 10px;

			&.ribbon {
				background-image: url(../images/ribbon.png);
			}

			&.certificate {
				background-image: url(../images/certificate.png);
			}

			&.qr {
				background-image: url(../images/qr.png);
			}
		}

		h4 {
			margin-bottom: 5px;
			font-size: 16px;
			line-height: 18px;
			font-weight: 600;

			> span {
				cursor: pointer;

				&:hover {
					text-decoration: underline;
				}

				&.tooltip {
					cursor: default;
				}
			}
		}

		p {
			margin-bottom: 0;
			font-size: 14px;
		}

		.tooltip {
			position: relative;
			display: inline-block;
			margin: 3px 0 0 10px;

			.mark {
				width: 14px;
				height: 14px;
				background: url(../images/hint_tip.png) no-repeat center center;
				display: block;
			}

			.text {
				position: absolute;
				left: 25px;
				top: -6px;
				background: #000;
				color: #fff;
				border-radius: 3px;
				font-size: 14px;
				font-weight: 400;
				width: 220px;
				padding: 7px 10px;
				display: none;

				&::after {
					content: "";
					position: absolute;
					right: 100%;
					top: 7px;
					border: 6px solid transparent;
					border-right-color: #000;
				}
			}

			&:hover {
				.text {
					display: block;
				}
			}
		}

		.actions {
			float: right;
			padding-top: 5px;
			position: relative;

			.overlay {
				position: absolute;
				right: 0;
				top: 0;
				width: 100%;
				height: 100%;
				z-index: 5;
			}

			 span {
				display: block;
				width: 30px;
				height: 30px;
				background: no-repeat center center;
				margin-left: 15px;
				opacity: 0.7;
				position: relative;
				cursor: pointer;

				&.disabled {
					opacity: 0.3 !important;

					> span {
						display: none !important;
					}
				}

				> span {
					position: absolute;
					left: -50px;
					top: -45px;
					background: #000;
					color: #fff;
					font-size: 14px;
					font-weight: 400;
					padding: 5px 10px;
					border-radius: 3px;
					width: 100px;
					text-align: center;
					display: none;

					&::after {
						content: "";
						position: absolute;
						left: 50%;
						top: 100%;
						border: 9px solid transparent;
						border-top-color: #000;
						border-top-width: 6px;
						margin-left: -4px;
					}
				}

				&.edit {
					background-image: url(../images/edit.png);
				}

				&.download {
					background-image: url(../images/download.png);
				}

				&.preview {
					background-image: url(../images/preview.png);
				}

				&.email {
					background-image: url(../images/email.png);
				}

				&.mail {
					background-image: url(../images/mail.png);
					background-position: 0px 2px;
				}

				&:hover {
					opacity: 1;

					> span {
						display: block;
					}
				}
			}
		}
	}

	.edit_mode {
		border-radius: 3px 3px 0 0;

		.actions {
			opacity: 0.2;
		}

		&.main {
			padding-bottom: 0;

			.main_image_wrapper {
				background: #f2f2f2;
			}
		}

		.change_image_nav {
			position: absolute;
			bottom: 10px;
			text-align: center;
			width: 100%;
			left: 0;

			> span {
				width: 15px;
				height: 15px;
				display: inline-block;
				margin: 0 3px;
				background: #fff;
				cursor: pointer;
				border-radius: 50em;
				opacity: 0.6;
				box-shadow: inset 1px 1px 2px rgba(0,0,0,0.3);
				position: relative;

				&.active {
					&::after {
						content: '';
						width: 9px;
						height: 9px;
						background: #888;
						position: absolute;
						left: 3px;
						top: 3px;
						border-radius: 50em;
					}
				}
			}
		}

		.change_image {
			text-align: center;
			padding-top: 15px;

			> * {
				display: inline-block;
			}

			p {
				margin: 0;
				padding: 0 60px;
				position: relative;
			}

			span {
				cursor: pointer;
				font-size: 44px;
				position: absolute;
				top: 0;
				opacity: 0.7;
				font-family: $open-sans-condensed-font, 'sans-serif';

				&.next {
					right: 0;
				}

				&.prev {
					left: 0;
				}

				&:hover {
					opacity: 1;
				}
			}
		}
	}

	.app_details_editor {
		position: relative;
		padding: 20px 30px;
		background: #f2f2f2;
		color: #8a8a8a;
		border-radius: 0 0 3px 3px;
		box-shadow: 0 1px 1px rgba(0,0,0,0.2);

		.form {
			.form_row {
				margin-bottom: 10px;

				&:last-child {
					margin-bottom: 0;
				}
			}

			label {
				width: 120px;
				padding-top: 3px;
			}

			input {
				border: 1px solid #b8b8b8;
				border-radius: 2px;
				padding: 7px 10px;
				background: #fff;
				width: 220px;

				&.small {
					width: 100px;
					margin-right: 10px;
				}
			}

			.buttons_wrapper {
				position: absolute;
				right: 20px;
				bottom: 29px;
			}
		}
	}
}

/* Popups */

.blur {
  -webkit-filter: blur(0.4em);
  -webkit-transform: translate3d(0, 0, 0);
}

.dark {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 990;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.9);
}

.popup_wrapper {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 991;
  width: 100%;
  height: 100%;
  opacity: 0;
  /*@include transition(opacity 0.4s);*/

  &.reveal {
    opacity: 1;
  }

  > .closeLB {
    color: #fff;
    position: fixed;
    right: 25px;
    top: 20px;
    cursor: pointer;
    opacity: 0.85;
    font-size: 32px;
    font-weight: normal;

    &:hover {
      opacity: 1;
    }
  }

  .popup_content {
    position: absolute;
    z-index: 992;
    left: 50%;
    top: 50%;
    background: #f1f1f1;
    width: 600px;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);

    .clearfix > * {
    	float: left;
    }

    > .closeLB {
		position: absolute;
		top: 0;
		right: 0;
		padding: 10px 15px;
		z-index: 910;
		color: #999;
		border-left: 1px solid #d7d7d7;
		cursor: pointer;

		&:hover {
			color: #000;
			background: #f1f1f1;
			border-radius: 0 5px 0 0;
			text-decoration: none;
			text-shadow: 0 0 8px rgba(255,255,255,0.8);
		}
	}

    h3 {
    	background: #fff;
		margin: 0;
		padding: 10px 15px;
		font-size: 20px;
		border-bottom: 1px solid #d7d7d7;
		border-radius: 5px 5px 0 0;
		text-align: left;
    }
  }
}

/* Certificate Preview popup */

.certificate_popup {
	text-align: center;
	margin-top: -220px;

	p {
		margin: 10px 0;
	}

	img {
		background: #fff;
		box-shadow: 0 1px 2px rgba(0,0,0,0.2);
		margin-bottom: 10px;
	}
}

/* Sticker Preview */

.sticker_popup {
	text-align: center;
	margin-top: -220px;

	section > p {
		margin: 10px 0;
	}

	.sticker_wrapper {
		position: relative;
		background: #fff;
		box-shadow: 0 1px 2px rgba(0,0,0,0.2);
		text-align: center;
		padding: 20px;
		margin: 0 20px 20px;

		.qr_code {
			position: absolute;
			top: 100px;
			left: 50%;
			margin-left: -60px;
			width: 130px;
			height: 130px;
			background: no-repeat center;
			opacity: 0.7;
			@include bg-size(125%);
		}

		span {
			position: absolute;
			width: 100%;
			display: block;
			font-size: 12px;
			color: #cdcdcd;
			text-align: center;
			top: 230px;
			left: 0;
		}

		p {
			margin: 10px 0 0;
		}
	}
}

/* Send email popup */

.send_email_popup {
	text-align: center;
	margin-top: -220px;

	p {
		margin: 10px 0;
	}

	.form {
		padding-bottom: 20px;

		.form_row {
			margin-bottom: 10px;

			&:last-child {
				margin-bottom: 0;
			}
		}

		label {
			width: 120px;
			padding-top: 3px;
		}

		input {
			border: 1px solid #b8b8b8;
			border-radius: 2px;
			padding: 7px 10px;
			background: #fff;
			width: 220px;
		}
	}

	.buttons_wrapper {
		background: #fff;
		border-radius: 0 0 5px 5px;
		padding: 10px 0;
		border-top: 1px solid #d7d7d7;

		.button {
			margin: 0 5px;
		}
	}
	
}

.send_mail_popup {
	margin-top: 0;
	top: 40px !important;

	p {
		margin: 10px 0;
	}

	.form {
		padding: 20px;

		.form_row {
			margin-bottom: 10px;

			&:last-child {
				margin-bottom: 0;
			}
		}

		label {
			width: 120px;
			padding-top: 3px;
			color: #8a8a8a;
		}

		input {
			border: 1px solid #b8b8b8;
			border-radius: 2px;
			padding: 7px 10px;
			background: #fff;
			width: 240px;

			+ span {
				margin-left: 125px;
				font-size: 12px;
				color: #8a8a8a;
			}
		}
	}

	.buttons_wrapper {
		background: #fff;
		border-radius: 0 0 5px 5px;
		padding: 10px 0;
		border-top: 1px solid #d7d7d7;
		text-align: center;

		.button {
			margin: 0 5px;
		}
	}
	
}