[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important; }

.cp-advisor-body {
  overflow: scroll-x; }

.anchor-font-color {
  color: #8b8b8b !important; }

.body-font-color {
  color: #4e4e4e !important; }

.primary-color {
  color: #00add5 !important; }

.info-color {
  color: #f7f7f7 !important; }

.main-bg {
  background-color: #f7f7f7 !important; }

.content-bg {
  background-color: #fff;
  border: 1px solid #a7a7a7; }

.body-font-color {
  color: #4e4e4e; }

.text-center {
  text-align: center !important; }

.progress {
  height: 1rem !important; }

iframe {
  border: none; }

.hand-cursor {
  cursor: pointer; }

.no-padding-left {
  padding-left: 0; }

.transparent-button {
  background-color: #f7f7f7;
  color: #000; }
  .transparent-button:hover {
    background-color: #f7f7f7;
    color: #000; }
  .transparent-button:focus {
    background-color: #f7f7f7;
    color: #000; }

.onlineAdsWrapper {
  padding: 0; }
  .onlineAdsWrapper iframe {
    width: 100%;
    height: 54.375rem;
    padding: 0; }

.main_pane {
  background: #FCFCFC; }

.top_fixed_pane {
  position: fixed;
  width: 1403px;
  z-index: 999;
  background: #FCFCFC; }

.mid_fixed_pane {
  margin-top: 120px; }

.top_pane_bg {
  background: #F0F0EF; }

.top_spacer {
  height: 150px; }

.top_middle_pane_bg {
  background: #f7f7f7; }

.middle_pane {
  position: relative;
  padding: 20px;
  padding-top: 0; }

.middle_left_pane {
  width: 180px;
  position: absolute; }

.middle_right_pane {
  margin-left: 180px;
  padding-left: 20px;
  position: relative; }

.cp_calendar {
  display: inline-block;
  float: right; }

.cp_search {
  display: inline-block;
  top: 6px;
  position: relative; }

/*.CP_warrper_btn {
    position: absolute;
    width: 160px;
}

    .CP_warrper_btn img {
        position: absolute;
        top: 3px;
        right: 15px;
    }*/
/*.CP_warrper_btn.pos_fixed {
        position: fixed;
    }*/
.CP_month_marker {
  margin-top: 40px; }
  .CP_month_marker.box1 {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    background-color: transparent;
    height: 80px;
    margin-bottom: 2px; }
  .CP_month_marker.stuck {
    position: fixed;
    top: 130px; }

.CP_div_seperator, .CP_div_seperator_space {
  border-right: 1px solid #a7a7a7;
  height: 100%;
  position: absolute;
  margin-left: -20px;
  width: 1px; }

.CP_seperator {
  border-right: 1px solid #A7A7A7;
  top: 10px;
  position: absolute;
  right: 0;
  height: 20px; }

.round_blue_seperator {
  position: absolute;
  right: -6px;
  height: 12px;
  width: 12px;
  border-radius: 6px;
  top: 50px;
  background-color: #1481C8;
  border: 2px solid #FCFCFC; }

.round_white_seperator {
  position: absolute;
  right: -4px;
  height: 8px;
  width: 8px;
  border-radius: 5px;
  top: 52px;
  background-color: #FCFCFC;
  border: 1px solid #a7a7a7; }

.CP_right_gary_border {
  border-right: 1px solid #a7a7a7;
  height: 178px; }

.CP_mid_seperator {
  position: absolute;
  right: 8px;
  height: 1px;
  width: 18px;
  background-color: #a7a7a7;
  top: 56px; }

.CP_mid_left_seperator {
  position: absolute;
  left: 6px;
  height: 1px;
  width: 18px;
  background-color: #a7a7a7;
  top: 56px; }

.CP_image {
  vertical-align: middle;
  border: 0; }

.CP_month_pos {
  top: 40px; }

.info_title {
  color: #4e4e4e !important;
  font-weight: bold; }

.info_text {
  font-family: inherit;
  font-weight: normal;
  line-height: 1.2;
  margin-bottom: 1.25rem;
  text-rendering: optimizeLegibility; }

.CP_image_contnet {
  border: 1px solid #a7a7a7;
  background-color: #fff; }
  .CP_image_contnet:hover {
    border: 1px solid #00add5;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 173, 213, 0.2);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0, 173, 213, 0.2);
    box-shadow: 0px 0px 10px 0px rgba(0, 173, 213, 0.2); }

.CP_image_contnet_main {
  position: absolute; }

.CP_image_content_main_more_text {
  position: absolute;
  width: 150px;
  height: 25px;
  left: calc(50% - 75px);
  bottom: 20px;
  cursor: pointer;
  color: #00add5; }

.CP_image_content_main_more_btn {
  position: absolute;
  width: 50px;
  height: 25px;
  left: calc(50% - 25px);
  bottom: 0;
  cursor: pointer;
  overflow: hidden; }

.button.radius-half {
  border-radius: 25px 25px 0 0;
  background-color: #ccc; }
  .button.radius-half:hover {
    background-color: #00add5; }
.button.radius-half-highlight {
  background-color: #00add5; }

.button.info {
  background-color: #fff;
  color: #4e4e4e !important; }
  .button.info:hover {
    border: 1px solid #cccccc;
    color: #4e4e4e !important;
    background-color: #fff; }
  .button.info:focus {
    border: 1px solid #cccccc;
    color: #4e4e4e !important;
    background-color: #fff; }

.display-table {
  display: table; }
  .display-table .table-cell-middle {
    display: table-cell;
    vertical-align: middle; }

/*.CP_image_content_main_more_btn:hover {
        width: 150px;
        left: 180px;
    }*/
.CP_image_content_main_more_btn img {
  margin: 5px;
  margin-left: 15px; }

/*.CP_image_content_main_more_btn.btnexpend {
        width: 150px;
        left: 180px;
    }*/
.middle_pane_content {
  position: relative; }

.detials_content_warrper {
  position: relative;
  margin-left: 180px;
  border-left: 1px solid #a7a7a7; }

.detials_content {
  border: 1px solid #a7a7a7;
  border-top: 0 solid #a7a7a7;
  position: relative;
  height: 80px;
  overflow: hidden;
  background-color: #FFFFFF;
  margin: 0 !important; }
  .detials_content:hover {
    background-color: #f7f7f7; }
  .detials_content img {
    width: 100%; }
  .detials_content .btn_pos {
    position: absolute;
    top: 25px;
    right: 20px; }

.detials_content_close {
  border: 1px solid #a7a7a7;
  border-top: 0 solid #a7a7a7;
  border-radius: 0 0 5px 5px;
  position: relative;
  height: 15px;
  background-color: #FFFFFF;
  cursor: pointer; }
  .detials_content_close img {
    position: absolute;
    top: 6px;
    left: 220px;
    cursor: pointer; }

.detials_func_content {
  border: 1px solid #a7a7a7;
  border-top: 0 solid #a7a7a7;
  position: relative;
  overflow: hidden;
  background-color: #FFFFFF;
  margin: 0 !important; }

.cp-div-pointer {
  cursor: pointer; }

[class*="foundicon-"] {
  display: inline-block;
  width: 16px;
  height: 16px;
  line-height: inherit;
  vertical-align: middle;
  background-image: none;
  background-position: 0 0;
  background-repeat: repeat; }

.foundicon-shevron {
  background-image: url('../images/genie_ic_event_expand_normal.png'); }

.foundicon-shevron-down {
  background-image: url('../images/genie_timeline_arrow_combolist.png');
  width: 10px;
  height: 10px; }

.foundicon-search {
  background-image: url('../images/genie_ic_search.png'); }

.image-left-border::before {
  width: 8px;
  background-color: #f7f7f7;
  position: absolute;
  top: -1px;
  bottom: -1px;
  content: "";
  left: -1px; }
.image-left-border::after {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 8px 8px 8px 0;
  border-color: transparent #f7f7f7 transparent transparent;
  position: absolute;
  left: -8px;
  top: 50px;
  content: ""; }
.image-left-border.active::before {
  background-color: #7f7f80; }
.image-left-border.active::after {
  border-color: transparent #7f7f80 transparent transparent; }

.more.loader {
  display: block; }

.cp-custom-events {
  display: block;
  position: fixed;
  top: 124px;
  left: 0;
  width: 100%;
  z-index: 80;
  padding-left: 0.625rem;
  padding-right: 0.625rem; }
  .cp-custom-events .events-warrper .data-content-warrper:before {
    content: '';
    display: block;
    width: 20px;
    height: 10px;
    /* border: 35px; */
    /* border-color: transparent transparent #4afff1 transparent; */
    /* border-bottom-style: solid; */
    background-image: url('images/custom_events_marker.png');
    position: absolute;
    top: -8px;
    right: 172px;
    z-index: 88; }

.invalid1 {
  background-color: red !important; }

.base-repeat-amimation, .my-repeat-animation.ng-enter, .my-repeat-animation.ng-leave, .my-repeat-animation.ng-move {
  -webkit-transition: 0.5s linear all;
  transition: 0.5s linear all;
  position: relative; }

.my-repeat-animation.ng-enter {
  left: -10px;
  opacity: 0; }
  .my-repeat-animation.ng-enter.ng-enter-active {
    left: 0;
    opacity: 1; }
.my-repeat-animation.ng-leave {
  left: 0;
  opacity: 1; }
  .my-repeat-animation.ng-leave.ng-leave-active {
    left: -10px;
    opacity: 0; }
.my-repeat-animation.ng-move {
  opacity: 0.5; }
  .my-repeat-animation.ng-move.ng-move-active {
    opacity: 1; }

.cp-search-marker {
  -webkit-transition: all linear 0.5s;
  transition: all linear 0.5s;
  opacity: 1; }
  .cp-search-marker.ng-hide {
    opacity: 0; }
  .cp-search-marker.ng-hide-remove {
    -webkit-animation: fade-from-right 0.5s;
    animation: fade-from-right 0.5s;
    display: block !important; }

.cp-allevents-dropdown {
  -webkit-transition: all linear 0.5s;
  transition: all linear 0.5s;
  opacity: 1; }
  .cp-allevents-dropdown.ng-hide {
    opacity: 0; }
  .cp-allevents-dropdown.ng-hide-remove {
    -webkit-animation: fade-from-right 0.5s;
    animation: fade-from-right 0.5s;
    display: block !important; }

.repeat-animation.ng-enter {
  -webkit-animation: fade-in 0.5s;
  animation: fade-in 0.5s; }
.repeat-animation.ng-leave {
  -webkit-animation: fadeOut 0.5s;
  animation: fadeOut 0.5s; }

.show-animation.ng-hide-remove {
  -webkit-transition: fade-in 0.5s;
  transition: fade-in 0.5s;
  opacity: 1; }
  .show-animation.ng-hide-remove.ng-hide-remove-active {
    -webkit-animation: fade-in 0.5s;
    animation: fade-in 0.5s;
    display: block !important; }
.show-animation.ng-hide-add {
  opacity: 1;
  display: block !important;
  -webkit-transition: all 0.5s;
  transition: all 0.3s; }
.show-animation.ng-hide-add-active {
  opacity: 0; }

.app-warrper {
  background: #FCFCFC; }
  .app-warrper .ad-warrper {
    background-color: #fff;
    border: 1px solid #a7a7a7;
    border-radius: 3px;
    margin: 10px 5px 10px 5px; }
    .app-warrper .ad-warrper .top-head {
      border-bottom: 1px solid #a7a7a7;
      font-weight: bold; }
      .app-warrper .ad-warrper .top-head h6 {
        font-weight: bold;
        margin: 10px; }
    .app-warrper .ad-warrper .top-middle {
      margin: 10px 5px 10px 5px; }
      .app-warrper .ad-warrper .top-middle h5 {
        font-weight: bold; }
    .app-warrper .ad-warrper .bottom-middle {
      background-color: #fff;
      border: 1px solid #a7a7a7;
      border-radius: 3px;
      margin: 10px; }
      .app-warrper .ad-warrper .bottom-middle .imgcontent {
        height: 190px;
        overflow: hidden; }
        .app-warrper .ad-warrper .bottom-middle .imgcontent img {
          width: 100%; }
      .app-warrper .ad-warrper .bottom-middle .installcontent {
        margin: 10px; }
      .app-warrper .ad-warrper .bottom-middle h5 {
        font-weight: bold; }
    .app-warrper .ad-warrper .bottom {
      background-color: #ebebeb;
      border-top: 1px solid #a7a7a7;
      margin: 0; }
      .app-warrper .ad-warrper .bottom h6 {
        font-weight: bold; }
      .app-warrper .ad-warrper .bottom img {
        vertical-align: text-bottom; }
      .app-warrper .ad-warrper .bottom .fbox-center {
        border-left: 1px solid #a7a7a7;
        border-right: 1px solid #a7a7a7; }

.ad-edit-link {
  color: #1481C8; }
  .ad-edit-link h6 {
    font-weight: bold;
    color: #1481C8; }
  .ad-edit-link img {
    vertical-align: text-bottom; }

.add-publish-warrper {
  padding: 10px;
  border-top: 1px solid #a7a7a7; }

.form-warrper {
  border-bottom: 1px solid #a7a7a7; }
  .form-warrper h4.title {
    font-weight: bold;
    color: #1481C8;
    font-size: 1.2rem !important; }
  .form-warrper .top-contnet {
    margin: 15px 0 10px 0; }
  .form-warrper label {
    font-size: 1rem; }
  .form-warrper.no-border {
    border-bottom: 0 !important; }

.form-warrper-border {
  border-left: 1px solid #a7a7a7;
  padding: 0; }
