@font-face {
  font-family: 'MuseoSans-700';
  src: url("/Styles/fonts/MuseoSans/23F3EB_0_0.eot");
  src: url("/Styles/fonts/MuseoSans/23F3EB_0_0.eot?#iefix") format("embedded-opentype"), url("/Styles/fonts/MuseoSans/23F3EB_0_0.woff") format("woff"), url("/Styles/fonts/MuseoSans/23F3EB_0_0.ttf") format("truetype"); }

@font-face {
  font-family: 'MuseoSans-300';
  src: url("/Styles/fonts/MuseoSans/23F3EB_1_0.eot");
  src: url("/Styles/fonts/MuseoSans/23F3EB_1_0.eot?#iefix") format("embedded-opentype"), url("/Styles/fonts/MuseoSans/23F3EB_1_0.woff") format("woff"), url("/Styles/fonts/MuseoSans/23F3EB_1_0.ttf") format("truetype"); }

@font-face {
  font-family: 'MuseoSans-900Italic';
  src: url("/Styles/fonts/MuseoSans/23F3EB_2_0.eot");
  src: url("/Styles/fonts/MuseoSans/23F3EB_2_0.eot?#iefix") format("embedded-opentype"), url("/Styles/fonts/MuseoSans/23F3EB_2_0.woff") format("woff"), url("/Styles/fonts/MuseoSans/23F3EB_2_0.ttf") format("truetype"); }

@font-face {
  font-family: 'MuseoSans-500';
  src: url("/Styles/fonts/MuseoSans/23F3EB_3_0.eot");
  src: url("/Styles/fonts/MuseoSans/23F3EB_3_0.eot?#iefix") format("embedded-opentype"), url("/Styles/fonts/MuseoSans/23F3EB_3_0.woff") format("woff"), url("/Styles/fonts/MuseoSans/23F3EB_3_0.ttf") format("truetype"); }

@font-face {
  font-family: 'MuseoSans-100';
  src: url("/Styles/fonts/MuseoSans/23F3EB_4_0.eot");
  src: url("/Styles/fonts/MuseoSans/23F3EB_4_0.eot?#iefix") format("embedded-opentype"), url("/Styles/fonts/MuseoSans/23F3EB_4_0.woff") format("woff"), url("/Styles/fonts/MuseoSans/23F3EB_4_0.ttf") format("truetype"); }

@font-face {
  font-family: 'MuseoSans-700Italic';
  src: url("/Styles/fonts/MuseoSans/23F3EB_5_0.eot");
  src: url("/Styles/fonts/MuseoSans/23F3EB_5_0.eot?#iefix") format("embedded-opentype"), url("/Styles/fonts/MuseoSans/23F3EB_5_0.woff") format("woff"), url("/Styles/fonts/MuseoSans/23F3EB_5_0.ttf") format("truetype"); }

@font-face {
  font-family: 'MuseoSans-300Italic';
  src: url("/Styles/fonts/MuseoSans/23F3EB_6_0.eot");
  src: url("/Styles/fonts/MuseoSans/23F3EB_6_0.eot?#iefix") format("embedded-opentype"), url("/Styles/fonts/MuseoSans/23F3EB_6_0.woff") format("woff"), url("/Styles/fonts/MuseoSans/23F3EB_6_0.ttf") format("truetype"); }

@font-face {
  font-family: 'MuseoSans-100Italic';
  src: url("/Styles/fonts/MuseoSans/23F3EB_7_0.eot");
  src: url("/Styles/fonts/MuseoSans/23F3EB_7_0.eot?#iefix") format("embedded-opentype"), url("/Styles/fonts/MuseoSans/23F3EB_7_0.woff") format("woff"), url("/Styles/fonts/MuseoSans/23F3EB_7_0.ttf") format("truetype"); }

@font-face {
  font-family: 'MuseoSans-500Italic';
  src: url("/Styles/fonts/MuseoSans/23F3EB_8_0.eot");
  src: url("/Styles/fonts/MuseoSans/23F3EB_8_0.eot?#iefix") format("embedded-opentype"), url("/Styles/fonts/MuseoSans/23F3EB_8_0.woff") format("woff"), url("/Styles/fonts/MuseoSans/23F3EB_8_0.ttf") format("truetype"); }

@font-face {
  font-family: 'MuseoSans-900';
  src: url("/Styles/fonts/MuseoSans/23F3EB_9_0.eot");
  src: url("/Styles/fonts/MuseoSans/23F3EB_9_0.eot?#iefix") format("embedded-opentype"), url("/Styles/fonts/MuseoSans/23F3EB_9_0.woff") format("woff"), url("/Styles/fonts/MuseoSans/23F3EB_9_0.ttf") format("truetype"); }

/*
  @font-face {
	font-family: MuseoSans-100;
	src: url('/Styles/fonts2/museosansrounded-100.eot');
	src: url('/Styles/fonts2/museosansrounded-100.eot') format('embedded-opentype'),
		 url('/Styles/fonts2/museosansrounded-100.woff') format('woff'),
		 url('/Styles/fonts2/museosansrounded-100.ttf') format('truetype'),
		 url('/Styles/fonts2/museosansrounded-100.svg#MuseoSansRounded100') format('svg');
}

@font-face {
	font-family: MuseoSans-300;
	src: url('/Styles/fonts2/museosansrounded-300.eot');
	src: url('/Styles/fonts2/museosansrounded-300.eot') format('embedded-opentype'),
		 url('/Styles/fonts2/museosansrounded-300.woff') format('woff'),
		 url('/Styles/fonts2/museosansrounded-300.ttf') format('truetype'),
		 url('/Styles/fonts2/museosansrounded-300.svg#MuseoSansRounded300') format('svg');
}


@font-face {
	font-family: MuseoSans-500;
	src: url('/Styles/fonts2/museosansrounded-500.eot');
	src: url('/Styles/fonts2/museosansrounded-500.eot') format('embedded-opentype'),
		 url('/Styles/fonts2/museosansrounded-500.woff') format('woff'),
		 url('/Styles/fonts2/museosansrounded-500.ttf') format('truetype'),
		 url('/Styles/fonts2/museosansrounded-500.svg#MuseoSansRounded500') format('svg');
}

@font-face {
	font-family: MuseoSans-700;
	src: url('/Styles/fonts2/museosansrounded-700.eot');
	src: url('/Styles/fonts2/museosansrounded-700.eot') format('embedded-opentype'),
		 url('/Styles/fonts2/museosansrounded-700.woff') format('woff'),
		 url('/Styles/fonts2/museosansrounded-700.ttf') format('truetype'),
		 url('/Styles/fonts2/museosansrounded-700.svg#MuseoSansRounded700') format('svg');
}

@font-face {
	font-family: MuseoSans-900;
	src: url('/Styles/fonts2/museosansrounded-1000.eot');
	src: url('/Styles/fonts2/museosansrounded-1000.eot') format('embedded-opentype'),
		 url('/Styles/fonts2/museosansrounded-1000.woff') format('woff'),
		 url('/Styles/fonts2/museosansrounded-1000.ttf') format('truetype'),
		 url('/Styles/fonts2/museosansrounded-1000.svg#MuseoSansRounded1000') format('svg');
}
*/
