@{
    Layout = null;
}
<div class="no-padding-left center">
    <div class="space-bottom-quarter space-top-quarter">
        <div class="row">
            <div class="small-push-1 small-10 columns end">
                <div class="row">
                    <div class="small-4 columns">
                        <div class="row content-bg">
                            <div class="small-6 columns">
                                <img src="Content/images/genie_ic_active_clicks.png" />
                                <p class="medium-normal-font anchor-font-color margin-botton-smaller">Clicks</p>
                            </div>
                            <div class="small-6 columns stats-border space-top-half ">
                                <h4 once-text="row.eventTypeData.clicks"></h4>
                            </div>
                        </div>
                    </div>
                    <div class="small-4 columns space-right space-left">
                        <div class="row content-bg">
                            <div class="small-6 columns">
                                <img src="Content/images/genie_ic_active_views.png" />
                                <p class="medium-normal-font anchor-font-color margin-botton-smaller">Views</p>
                            </div>
                            <div class="small-6 columns stats-border space-top-half">
                                <h4 once-text="row.eventTypeData.views"></h4>
                            </div>
                        </div>
                    </div>
                    <div class="small-4 columns">
                        <div class="row content-bg">
                            <div class="small-6 columns">
                                <img src="Content/images/genie_ic_active_installs.png" />
                                <p class="medium-normal-font anchor-font-color margin-botton-smaller">Installs</p>
                            </div>
                            <div class="small-6 columns stats-border space-top-half">
                                <h4 once-text="row.eventTypeData.installs"></h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
