<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" ng-app="app">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title></title>
    @System.Web.Optimization.Styles.Render("~/Content/css.css")
    @System.Web.Optimization.Scripts.Render("~/bundles/libs.js")
    @System.Web.Optimization.Scripts.Render("~/bundles/angularjslibs.js")
    @System.Web.Optimization.Scripts.Render("~/bundles/angularjs.js")

</head>
<body ng-controller="MainCtrl as vm" class="cp-advisor-body">
    <div class="panel main-bg">
        <div class="fixed">
            <div class="top_pane_bg">
                <div class="space-bottom"></div>
                <div class="row">
                    <div class="large-4 columns space-left">
                        <h6 class="info_title subheader">Account Budget Status: <span class="medium-normal-font info_text">$</span> 99<sup>36</sup> <span class="medium-normal-font info_text"> USD </span></h6>
                    </div>
                    <div class="large-2 columns">
                        <a href="#" class="button expand radius">Increase Budget</a>
                    </div>
                    <div class="large-6 columns"></div>
                </div>
                <div class="space-bottom"></div>
            </div>
            <div class="top_middle_pane_bg space-top-half">
                <div class="row">
                    <div class="large-2 columns cp-div-pointer" ng-click="search.allEventsVisible=!search.allEventsVisible">
                        <button class="transparent-button" data-dropdown="ddEvents" aria-controls="ddEvents" aria-expanded="false">{{vm.search.event}} <i class="foundicon-shevron-down"></i></button>
                        <ul id="ddEvents" data-dropdown-content aria-hidden="true" tabindex="-1" class="f-dropdown">
                            <li ng-click="vm.filterByEventType(-1,'All Events')"><a href="#">All Events</a></li>
                            <li ng-click="vm.filterByEventType(1,'Running Events')"><a href="#">Running Events</a></li>
                            <li ng-click="vm.filterByEventType(3,'Completed Events')"><a href="#">Completed Events</a></li>
                            <li ng-click="vm.filterByEventType(2,'Suggested Events')"><a href="#">Suggested Events</a></li>
                            <li ng-click="vm.filterByEventType(4,'Archived Events')"><a href="#">Archived Events</a></li>
                        </ul>
                    </div>
                    <div class="large-7 columns">
                        <div class="CP_div_seperator"></div>
                        <div class="row">
                            <div class="large-1 columns cp-div-pointer" ng-click="search.isVisible=!search.isVisible">
                                <i class="foundicon-search"></i>
                            </div>
                            <div class="large-6 columns">
                                <input ng-model="search.text" type="text" placeholder="search for events" class="no-radius-left cp-search-marker" ng-show="search.isVisible">
                            </div>
                            <div class="large-5 columns"></div>
                        </div>
                    </div>
                    <div class="large-3 columns hand-cursor" ng-click="btne.customEvents=!btne.customEvents;" sticky-click-scroll-element="">
                        <div class="row">
                            <div class="large-2 columns">
                                <img src="Content/timeline/images/calendar.png">
                            </div>
                            <div class="large-10 columns">
                                <h5 class="subheader">Create Custom Event</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        @*start custom events*@
        <div class="cp-custom-events background-custom-3" ng-show="btne.customEvents" ng-cloak>
            <div class="show-animation">
                <div class="row events-warrper">
                    <div class="large-2 columns main-bg" style="z-index:1" equalizer="ce"></div>
                    <div class="large-10 columns data-content-warrper">
                        <div class="CP_div_seperator" style="z-index:1"></div>
                        <span class="CP_mid_left_seperator"></span>
                        <div class="row content-bg">
                            <div class="small-3 columns no-padding-left image-left-border" equalizer="ce">
                                <img src="Content/timeline/holidays/default/custom_event.jpg" " />
                            </div>
                            <div class="small-9 columns no-padding-left center display-table center" equalizer="ce">
                                <form name="form" novalidate class="custom-events-form">
                                    <div class="row">
                                        <div class="large-8 large-push-2 columns">
                                            <div class="row space-top-double">
                                                <div class="large-8 columns">
                                                    <select>
                                                        <option value="1">Facebook Ad</option>
                                                        <option value="2">Google Ad</option>
                                                    </select>
                                                </div>
                                                <div class="large-4 columns">
                                                    <select>
                                                        <option value="1">28/09/2014</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="row space-top-half field_container" ng-class="{field_error: form.ceName.$dirty && form.ceName.$invalid, field_success: form.ceName.$dirty && form.ceName.$valid}">
                                                <div class="large-12 columns inputWrapper">
                                                    <input type="text" placeholder="Event Name" class="" ng-model="ce.name" name="ceName" required />
                                                </div>
                                            </div>
                                            <div class="row space-top space-bottom-half">
                                                <div class="large-4 large-push-3 columns">
                                                    <a href="" class="button expand radius secondary large" ng-click="btne.customEvents=false;">Cancel</a>
                                                </div>
                                                <div class="large-5 columns">
                                                    <a href="" class="button expand radius success large">Create Event</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @*end custom event*@

        <div class="mid_fixed_pane background-custom-3" infinite-scroll load-more='vm.loadMore()' scroll-threshold="100">
            <div class="my-repeat-animation" ng-repeat="row in vm.dataRows | filter:search.text" repeat-done="vm.elementsLayoutDone()" ng-cloak>
                <div class="row">
                    <div class="large-2 columns">
                        <div class="row">
                            <div class="large-10 columns">
                                <div class="CP_month_marker box">
                                    <a href="#" class="button expand radius secondary medium-font"
                                       sticky sticky-top="170" sticky-remove-css="info" sticky-media="(min-width:640px)"
                                       sticky-selector=".{{row.cssMarker}}" sticky-selector-css="active" sticky-active-element="true"
                                       ng-class="{info: $index>0}" ng-if="row.monthOccurrence">{{row.monthText}}</a>
                                    <input type="hidden" value="{{row.cssMarker}}" />
                                </div>
                            </div>
                            <div class="large-2 columns">
                            </div>
                        </div>
                    </div>
                    <div class="large-10 columns cp-main-data-content-warrper" id="mainContent{{$index}}" ng-mouseenter="btn.detailsmore=true" ng-mouseleave="btn.detailsmore=false">
                        <div class="CP_div_seperator"></div>
                        <span class="CP_mid_left_seperator"></span>
                        <div class="row CP_image_contnet">
                            <div class="small-3 columns no-padding-left image-left-border {{row.cssMarker}}" ng-class="{active: $index==0}" equalizer="group">
                                <img ng-src="{{row.mainImage}}" src="Content/timeline/holidays/default/no_image.jpg" " />
                            </div>
                            <div class="small-9 columns no-padding-left center display-table" equalizer="group">
                                <div class="CP_image_content_main_more_text" ng-hide="!btn.detailsmore || row.detailsVisible">
                                    <b>Check It Out!</b>
                                </div>
                                <div class="CP_image_content_main_more_btn" ng-click="row.detailsVisible = !row.detailsVisible;" ng-hide="row.detailsVisible" data-scroll-on-click="#mainContent{{$index}}">
                                    <a href="" class="button expand radius-half" ng-class="{'radius-half-highlight': btn.detailsmore}"><i class="general foundicon-shevron"></i></a>
                                </div>
                                <div class="table-cell-middle space-bottom-half" ng-click="row.detailsVisible = !row.detailsVisible;">
                                    <h5 class="subheader anchor-font-color">{{row.contentInfoMainText}}</h5>
                                    <h3 class="body-font-color">{{row.contentInfoSubText}}</h3>
                                </div>
                            </div>
                        </div>

                        <!--start details-->
                        <div class="row cp-details-marker hide slide-animation" ng-show="row.detailsVisible" id="mainContentDetails{{$index}}">
                            <div class="detials-content-warrper">
                                <div class="row detials_content" ng-mouseenter="btn.install.startvisible=true" ng-mouseleave="btn.install.startvisible=false">
                                    <div class="small-1 columns">
                                        <img src="Content/images/genie_ic_list_app.png" alt="" class="space" />
                                    </div>
                                    <div class="small-9 columns space-top-half">
                                        <h5 class="subheader primary-color">App Installs</h5>
                                        <p class="medium-normal-font anchor-font-color">Get new app installs for {{row.contentInfoSubText}}</p>
                                    </div>
                                    <div class="small-2 columns">
                                        <div class="space-bottom"><div class="space-bottom-quarter"></div></div>
                                        <a href="" class="button expand radius" ng-show="btn.install.startvisible && !btn.install.funcvisible" ng-click="btn.install.funcvisible=true" data-scroll-on-click="#mainContentDetails{{$index}}">Start</a>
                                        <a href="" class="button expand radius info" ng-show="btn.install.funcvisible" ng-click="btn.install.funcvisible=false" data-scroll-on-click="#mainContent{{$index}}">Close</a>
                                    </div>
                                </div>
                                <!--app install-->
                                <div class="row detials_func_content show-animation" ng-if="btn.install.funcvisible">
                                    @*<div class="small-12 columns" ng-controller="timelineapps.AppInstallCtrl as installVM" data-timelineapps.appinstall="">
                                        </div>*@
                                    <div class="small-12 columns onlineAdsWrapper" ng-controller="timelineapps.AppInstallIfrmCtrl as installVM">
                                        <iframe id="onlineAdsFrame" ng-src="http://smb.zibaba.com/cndconnect?parameters=VDAhsTLIznou8F5gPtOTLGRLBFBThDesGwdtHQCmkNvbdnXXMi5Au7kcIkebBab8IphDvQJHeGwI6/7m5Y7k+2nsz2RYQ3uGjlInpie1x7kLonehc5WCcW5WSTkpCUs7t9Pq2eJLSvjGA5hLjWdlh2MsvK8fBjly3LosEmJhGWVJEiwKNMZAG5RIWzVFa/PRm5wdwoHJVf9QnxagNWZU07HKSyJbPLjmLL3KJ8X0gXzSAoVC+tBkLrT5+KMzWO5fgu/w7LI5v/BKq0Bst3Q30Fo41xafkpNKfJa9smuCXQaxG/zQMaMWLHJHdl+1i97R3RDRTd4j8Y8AW8rut2KoS37U5fxRsdHyxDi8J/V50aeKNpQaUAGCm0Oigmehgb6Dd2q5UDVnVU1h1P/f3tfTeB/WPmtyOaT2Iz3Lo/hzj/Cm/M6R/pa3VVNS6T3kXzMAkT6uZHVglM/lWiz7OxMUTXWU1ckqYdesXe68bkGjePO3Tbpb7VIfASFJ43SdtV5ujYEfo0MSYc+sUjzQvewa8WbOjmwWNHeFrTFO/b+7qco//ZZH9+mhlSMi5Q9KINMH5zqspHiMROwvdcyPcW1wHlxQSMSP4FbA7q/4yRLy3J5Z1tgFFKIZKHVETJ0v6KHF2aYHgP+mytjVfDiL3adWclZWmmtA/l7Qbp/nDmeKV/sSEemTFZv42Jo2J1R3/ssOrTjU/XRxOAXc/z1u040orbOTFqICKuXGOsn8wtiDavpJ7uop5rqvvhP30kEczueGeYEOQo4VoGojcL+Z2z9jJOGTSgUKdRUxC/fOjwDJoeTsuAG/krXiMSw8+9uT4U2x7oGWfSz1VAYNAp19g/r1LR9tYhW1j99uNEULp9mLizOQqQxE/4HwQofjYxp1hnaF87MJ/F/v/u3gEQOZoPO7U10mp7uDiccYKmRIgew+WpsUN49f56QjKQLc0RPZg5AprPS02Ivi/MBa65K9NOXjeaFgQfZAP9qoxS5dZy+qMj8Swc0ZyB2BRJ38u6KC9Pjm" src="http://smb.zibaba.com/cndconnect?parameters=VDAhsTLIznou8F5gPtOTLGRLBFBThDesGwdtHQCmkNvbdnXXMi5Au7kcIkebBab8IphDvQJHeGwI6/7m5Y7k+2nsz2RYQ3uGjlInpie1x7kLonehc5WCcW5WSTkpCUs7t9Pq2eJLSvjGA5hLjWdlh2MsvK8fBjly3LosEmJhGWVJEiwKNMZAG5RIWzVFa/PRm5wdwoHJVf9QnxagNWZU07HKSyJbPLjmLL3KJ8X0gXzSAoVC+tBkLrT5+KMzWO5fgu/w7LI5v/BKq0Bst3Q30Fo41xafkpNKfJa9smuCXQaxG/zQMaMWLHJHdl+1i97R3RDRTd4j8Y8AW8rut2KoS37U5fxRsdHyxDi8J/V50aeKNpQaUAGCm0Oigmehgb6Dd2q5UDVnVU1h1P/f3tfTeB/WPmtyOaT2Iz3Lo/hzj/Cm/M6R/pa3VVNS6T3kXzMAkT6uZHVglM/lWiz7OxMUTXWU1ckqYdesXe68bkGjePO3Tbpb7VIfASFJ43SdtV5ujYEfo0MSYc+sUjzQvewa8WbOjmwWNHeFrTFO/b+7qco//ZZH9+mhlSMi5Q9KINMH5zqspHiMROwvdcyPcW1wHlxQSMSP4FbA7q/4yRLy3J5Z1tgFFKIZKHVETJ0v6KHF2aYHgP+mytjVfDiL3adWclZWmmtA/l7Qbp/nDmeKV/sSEemTFZv42Jo2J1R3/ssOrTjU/XRxOAXc/z1u040orbOTFqICKuXGOsn8wtiDavpJ7uop5rqvvhP30kEczueGeYEOQo4VoGojcL+Z2z9jJOGTSgUKdRUxC/fOjwDJoeTsuAG/krXiMSw8+9uT4U2x7oGWfSz1VAYNAp19g/r1LR9tYhW1j99uNEULp9mLizOQqQxE/4HwQofjYxp1hnaF87MJ/F/v/u3gEQOZoPO7U10mp7uDiccYKmRIgew+WpsUN49f56QjKQLc0RPZg5AprPS02Ivi/MBa65K9NOXjeaFgQfZAP9qoxS5dZy+qMj8Swc0ZyB2BRJ38u6KC9Pjm"></iframe>
                                    </div>
                                </div>
                                <!--sign app-->
                                <div class="row detials_content" ng-mouseenter="btn.sign.startvisible=true" ng-mouseleave="btn.sign.startvisible=false" ng-hide="true">
                                    <div class="large-1 columns">
                                        <img src="Content/images/genie_ic_list_signup.png" />
                                    </div>
                                    <div class="large-9 columns">
                                        <div class="cn_text_main">Sign Up</div>
                                        <div class="cn_text_sub">Boost your sucriber's list for 2015</div>
                                    </div>
                                    <div class="large-2 columns">
                                        <div class="space-bottom"><div class="space-bottom-quarter"></div></div>
                                        <a class="button expand radius" ng-show="btn.sign.startvisible">Start</a>
                                    </div>
                                </div>
                                <!--shop app-->
                                <div class="row detials_content" ng-mouseenter="btn.shop.startvisible=true" ng-mouseleave="btn.shop.startvisible=false" ng-hide="true">
                                    <div class="large-1 columns">
                                        <img src="Content/images/genie_ic_list_shop.png" />
                                    </div>
                                    <div class="large-9 columns">
                                        <div class="cn_text_main">Shop Now</div>
                                        <div class="cn_text_sub">15% OFF Discount On New Years's Sale</div>
                                    </div>
                                    <div class="large-2 columns">
                                        <div class="space-bottom"><div class="space-bottom-quarter"></div></div>
                                        <a href="#" class="button expand radius" ng-show="btn.shop.startvisible">Start</a>
                                    </div>
                                </div>
                                <!--book app-->
                                <div class="row detials_content" ng-mouseenter="btn.book.startvisible=true" ng-mouseleave="btn.book.startvisible=false" ng-hide="true">
                                    <div class="large-1 columns">
                                        <img src="Content/images/genie_ic_list_book.png" />
                                    </div>
                                    <div class="large-9 columns">
                                        <div class="cn_text_main">Book Now</div>
                                        <div class="cn_text_sub">Scheduale a Private Fitting For 2015 Collection</div>
                                    </div>
                                    <div class="large-2 columns">
                                        <div class="space-bottom"><div class="space-bottom-quarter"></div></div>
                                        <a href="#" class="button expand radius" ng-show="btn.book.startvisible">Start</a>
                                    </div>
                                </div>
                                <!--watch app-->
                                <div class="row detials_content" ng-mouseenter="btn.watch.startvisible=true" ng-mouseleave="btn.watch.startvisible=false" ng-hide="true">
                                    <div class="large-1 columns">
                                        <img src="Content/images/genie_ic_list_watch.png" />
                                    </div>
                                    <div class="large-9 columns">
                                        <div class="cn_text_main">Watch Now</div>
                                        <div class="cn_text_sub">Scheduale a Private Fitting For 2015 Collection</div>
                                    </div>
                                    <div class="large-2 columns">
                                        <div class="space-bottom"><div class="space-bottom-quarter"></div></div>
                                        <a href="#" class="button expand radius" ng-show="btn.watch.startvisible">Start</a>
                                    </div>
                                </div>
                                <!--custom app-->
                                <div class="row detials_content" ng-mouseenter="btn.custom.startvisible=true" ng-mouseleave="btn.custom.startvisible=false" ng-hide="true">
                                    <div class="large-1 columns">
                                        <img src="Content/images/genie_ic_list_custom.png" />
                                    </div>
                                    <div class="large-9 columns">
                                        <div class="cn_text_main">Custom Ad</div>
                                        <div class="cn_text_sub">create your own customized ad for New Year</div>
                                    </div>
                                    <div class="large-2 columns">
                                        <div class="space-bottom"><div class="space-bottom-quarter"></div></div>
                                        <a href="#" class="button expand radius" ng-show="btn.custom.startvisible">Start</a>
                                    </div>
                                </div>
                                <div class="detials_content_close" ng-click="row.detailsVisible = !row.detailsVisible;">
                                    <img src="Content/timeline/images/image_detailes_close.png" />
                                </div>
                                <div class="space-bottom-double"></div>
                            </div>
                        </div>
                        <!--end details-->
                        <div class="space-bottom"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row ng-hide" data-ng-show="vm.loadInProgress">
            <div class="small-push-4 small-8 columns text-center">
                <span class="more loader small center"></span>
            </div>
        </div>
    </div>
    <br />
    <br />
</body>
</html>
